/* OPMAAK HELE WEBSITE */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

/* EINDE OPMAAK HELE WEBSITE */

/* BODY GEHELE WEBSITE */
body {
    background-color: black;
    font-family: Segoe UI, Myriad Pro, sans-serif;
}

/* EINDE BODY GEHELE WEBSITE */

h1 {
    position: relative;
    margin-top: 3em;
    width: 100%;
    font-size: 1.2rem;
    text-align: center;
}

main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2em;
}

.loader {
    position: fixed;
    z-index: 99;
    top: 0;
    width: 100%;
    height: 100%;
    background: black;
    display: flex;
    justify-content: center;
}

.loader > img {
    width: 20em;
}

.loader.hidden {
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
    animation-duration: 2s;
}

@keyframes fadeOut {
    100% {
        opacity: 50%;
        visibility: hidden;
    }
}

img {
    width: 15rem;
    margin-top: 1em;
    object-fit: contain;
}

section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 100%;
}

article {
    margin-top: 1em;
    padding: 0 1em;
    width: 1fr;
}

a {
    position: absolute;
    color: deepskyblue;
    margin-left: -11em;
    margin-top: 24em;
    text-align: center;
}

/* WERKT ALLEEN ALS DIV AANSTAAT */
p {
    position: absolute;
    font-size: 0.8em;
    padding: 0.5em;
    margin-top: 0.5em;
}
